.button {
  margin: 0;
  padding: var(--padding);
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition-property: color;
  background-image: none;
  border: 0;
  white-space: nowrap;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: var(--line-height);
  text-transform: none;
  font-family: inherit;
  border-radius: calc(var(--radius) - 2px);
  color: hsl(var(--foreground));
  transition: scale 0.15s ease-in-out;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 0.15s;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}
.button:focus-visible {
  border-color: hsl(var(--border));
}
.button:disabled {
  pointer-events: none;
  opacity: 0.5;
}
.button:active {
  scale: 0.98;
}

.button--loading .isLoading {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.button--primary {
  background-color: hsl(var(--primary));
  color: hsl(var(--primary-foreground));
}
.button--primary:hover {
  background-color: hsl(var(--primary)/0.75);
}

.button--default {
  background-color: hsl(var(--default));
  color: hsl(var(--default-foreground));
}
.button--default:hover {
  background-color: hsl(var(--default)/0.8);
}

.button--destructive {
  background-color: hsl(var(--destructive));
  color: hsl(var(--destructive-foreground));
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}
.button--destructive:hover {
  background-color: hsl(var(--destructive)/0.75);
}

.button--secondary {
  background-color: hsl(var(--secondary));
  color: hsl(var(--secondary-foreground));
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
}
.button--secondary:hover {
  background-color: hsl(var(--secondary)/0.8);
}

.button--ghost {
  background-color: transparent;
  color: hsl(var(--accent-foreground));
  box-shadow: none;
}
.button--ghost:hover {
  background-color: hsl(var(--accent)/0.8);
}

.button--link {
  color: hsl(var(--foreground));
  text-underline-offset: 4px;
  box-shadow: none;
}
.button--link:hover {
  text-decoration: underline;
}

.button--icon {
  color: hsl(var(--foreground));
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.65rem;
  background-color: transparent;
  overflow: hidden;
}
.button--icon a {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button--icon svg {
  fill: hsl(var(--foreground));
  transition: all 0.2s ease;
}
.button--icon:hover {
  background-color: hsl(var(--muted)/0.75);
}

.button--icon-border {
  border: 1px solid hsl(var(--muted)/0.75);
}

.button--outline {
  border: 1px solid hsl(var(--border));
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  box-shadow: none;
}
.button--outline:hover {
  background-color: hsl(var(--accent));
  color: hsl(var(--accent-foreground));
}/*# sourceMappingURL=button.css.map */